@use '../custom' as *;
@use '../components/mixins' as *;

.contact {
  font-family: $primaryFont;
  width: 100%;
  @include gradient;

  hr {
    width: 10rem;
    height: 4px;
    color: $white;
  }
}

.contact-card {
  max-width: 35rem;

  p {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

.checkboxes {
  font-size: 0.85rem;
  text-transform: capitalize;
  display: block;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

  span {
    margin: 25px;
  }
}

.g-recaptcha div:first-child {
  margin: auto;
}