@use '../custom' as *;

footer {
  font-family: $primaryFont;

  .social {
    width: 100%;
    display: flex;
    justify-content: center;

    i {
      padding: 1rem;
      font-size: 2rem;
    }
  }

  span {
    display: flex;
    justify-content: center;
  }

  ul {
    display: block;
    list-style: none;
    padding: 0;

    @include media-breakpoint-up(lg) {
      display: flex;
    }

    li {
      padding: 0.65rem;

      a {
        text-decoration: none;
      }

      i {
        padding: 0.25rem;
      }
    }
  }

  .copyright{
    font-size: .85rem;

    @include media-breakpoint-up(sm){
      font-size: 1rem;
    }
  }
}
