@use '../custom' as *;

.navbar{
  font-family: 'Ubuntu', sans-serif;

  a:hover{
    color: $primary !important;
  }

  .navbar-brand{
    font-size: 1.5rem;

    @include media-breakpoint-up(sm){
      font-size: 2.5rem;
    }
  }
}
