*,
*::before,
*::after {
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
/* navigation starts here */
.logo {
  font-family: "Ubuntu", sans-serif;
  grid-area: logo;
  display: flex;
  align-items: center;
  margin-right: 10rem;
  margin-left: 2rem;
  color: palevioletred;
  font-size: 5rem;
  text-shadow: 2px 1px 2px black;
}

nav {
  font-family: "Ubuntu", sans-serif;
  display: grid;
  grid-template-columns: repeat(
    2,
    auto
  );
  grid-template-areas: "logo nav-links";
  width: 100%;
  height: 2rem;
  margin-top: -10px;
}
nav ul {
  grid-area: nav-links;
  margin-right: -50rem;
  display: flex;
  align-items: center;
  width: fit-content;
}
nav li {
  width: 7rem;
  text-align: center;
}

.btn-one {
  display: block;
  border: 1px solid black;
  color: palevioletred;
  padding: 0.75rem;
}

.top {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  background: palevioletred;
  margin-top: 2.5rem;
  width: 100%;
  height: 38rem;
}
.card-top {
  display: block;
  color: white;
  width: 45%;
  height: 20rem;
  margin-top: 5rem;
  margin-left: 8rem;
  margin-right: 10rem;
  place-items: center;
}
.card-top h1,
.card-top p {
  margin: auto;
  width: 25vw;
}
.card-top h1 {
  font-size: 3.5rem;
}
.card-top::before {
  content: "";
  display: block;
  margin: auto;
  margin-bottom: 6rem;
  background: white;
  height: 4px;
  width: 65%;
}
.card-top p {
  margin-bottom: 3rem;
}
.btn-two {
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 0.75rem;
  width: 7rem;
}
.btn-two:hover,
.btn-three:hover {
  color: palevioletred;
  background: white;
}

.photo {
  margin-top: 4rem;
  margin-right: auto;
}
img {
  box-shadow: 0px 5px 5px black;
}
.family-small {
  display: none;
}

/* middle starts here */

.middle-title {
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 10rem;
}
.middle {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  gap: 3rem;
}

h3 {
  text-align: center;
}
.card {
  text-align: center;
  width: 20rem;
}
.icon {
  font-size: 4rem;
  font-weight: 600;
  background: palevioletred;
  padding-top: 20px;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

/* bottom starts here */

.bottom {
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin: auto;
  width: 85vw;
  padding: 3rem;
  text-align: center;
  background: palevioletred;
}
.btn-three {
  color: white;
  border: 1px solid white;
  padding: 0.45rem;
}

/* social starts here */

.social {
  font-family: "Ubuntu", sans-serif;
  display: block;
  color: palevioletred;
  padding-top: 10rem;
  text-align: center;
}
.social::after {
  content: "";
  display: block;
  top: 0;
  background: palevioletred;
  height: 1px;
  width: 1080;
}
.social-icon {
  margin-right: 2rem;
  color: palevioletred;
  opacity: 0.45;
  font-size: 3rem;
}
.social-icon:hover {
  opacity: 1;
}
.left-links {
  grid-area: left-links;
}
.right-links {
  grid-area: right-links;
}
footer {
  display: grid;
  grid-template-columns: repeat(
    5,
    10rem
  );
  grid-template-areas: "left-links right-links . . .";
  padding-top: 1rem;
}
.footer::after {
  content: "";
  display: flex;
  height: 100%;
  width: 1px;
  background: palevioletred;
}
.copyright {
  text-align: center;
  margin-bottom: 1rem;
}
.copyright a {
  color: black;
}

/* large screens start here (1270 - 1670) */

@media (max-width: 1670px) {
  .logo {
    font-size: 3rem;
  }
  nav ul {
    grid-area: nav-links;
    margin-right: 0;
    display: flex;
    align-items: center;
    width: fit-content;
  }
  .photo {
    margin-top: 4rem;
  }
  .family {
    display: none;
  }
  .family-small {
    display: block;
    margin-right: 5rem;
  }
}
@media (max-width: 900px) {
  * {
    display: block;
    margin: 0;
  }
  .family {
    display: none;
  }
  .family-small {
    display: block;
    margin-right: 10rem;
  }
  .card-top::before{
    margin-bottom: auto;
  }
}
